<%= form_for(@league) do |f| %>
  <% if @league.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@league.errors.count, "error") %> prohibited this league from being saved:</h2>

      <ul>
      <% @league.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :league_name %><br>
    <%= f.text_field :league_name %>
  </div>
  <div class="field">
    <%= f.label :commissioner_id %><br>
    <%= f.text_field :commissioner_id %>
  </div>
  <div class="field">
    <%= f.label :current_leader_id %><br>
    <%= f.text_field :current_leader_id %>
  </div>
  <div class="field">
    <%= f.label :conference_settings %><br>
    <%= f.text_field :conference_settings %>
  </div>
  <div class="field">
    <%= f.label :number_picks_settings %><br>
    <%= f.number_field :number_picks_settings %>
  </div>
  <div class="field">
    <%= f.label :number_members %><br>
    <%= f.number_field :number_members %>
  </div>
  <div class="field">
    <%= f.label :user1_id %><br>
    <%= f.text_field :user1_id %>
  </div>
  <div class="field">
    <%= f.label :user2_id %><br>
    <%= f.text_field :user2_id %>
  </div>
  <div class="field">
    <%= f.label :user3_id %><br>
    <%= f.text_field :user3_id %>
  </div>
  <div class="field">
    <%= f.label :user4_id %><br>
    <%= f.text_field :user4_id %>
  </div>
  <div class="field">
    <%= f.label :user5_id %><br>
    <%= f.text_field :user5_id %>
  </div>
  <div class="field">
    <%= f.label :user6_id %><br>
    <%= f.text_field :user6_id %>
  </div>
  <div class="field">
    <%= f.label :user7_id %><br>
    <%= f.text_field :user7_id %>
  </div>
  <div class="field">
    <%= f.label :user8_id %><br>
    <%= f.text_field :user8_id %>
  </div>
  <div class="field">
    <%= f.label :user9_id %><br>
    <%= f.text_field :user9_id %>
  </div>
  <div class="field">
    <%= f.label :user10_id %><br>
    <%= f.text_field :user10_id %>
  </div>
  <div class="field">
    <%= f.label :user11_id %><br>
    <%= f.text_field :user11_id %>
  </div>
  <div class="field">
    <%= f.label :user12_id %><br>
    <%= f.text_field :user12_id %>
  </div>
  <div class="field">
    <%= f.label :user13_id %><br>
    <%= f.text_field :user13_id %>
  </div>
  <div class="field">
    <%= f.label :user14_id %><br>
    <%= f.text_field :user14_id %>
  </div>
  <div class="field">
    <%= f.label :user15_id %><br>
    <%= f.text_field :user15_id %>
  </div>
  <div class="field">
    <%= f.label :user16_id %><br>
    <%= f.text_field :user16_id %>
  </div>
  <div class="field">
    <%= f.label :user17_id %><br>
    <%= f.text_field :user17_id %>
  </div>
  <div class="field">
    <%= f.label :user18_id %><br>
    <%= f.text_field :user18_id %>
  </div>
  <div class="field">
    <%= f.label :user19_id %><br>
    <%= f.text_field :user19_id %>
  </div>
  <div class="field">
    <%= f.label :user20_id %><br>
    <%= f.text_field :user20_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
