!!!
%html
  %head
    :javascript
        $(document).ready(function() {
          $("#start_time").datepicker({
                minDate: "+0D", 
                maxDate: "+6M",
                dateFormat: "yy-mm-dd"
            });
        });
    %div.jumbotron
      %h2 Add Announcement to
      %h2= @league.league_name
    
    %div.row
      %div.span12
        %p.header This announcement will be visible to any users signed up for your league.

      %div.span12
        = form_tag create_announcement_path(@league.id) do 
          %br 
          %br
          = text_field :text, 'announcement', class: "large_text_entry", :id => 'announcement'
          %br
          = text_field :text, 'start_time', class: "jquery-ui-date", :id => 'start_time'
          %br
          = submit_tag 'Create Announcement', class: "btn", :id => 'create'