%body
  %div.jumbotron
    %h2= @league.league_name
  
  %br
  - if (@league_pick == nil || @league_pick.size() == 0) && (Time.now.in_time_zone("Central Time (US & Canada)").wday < 6 && Time.now.in_time_zone("Central Time (US & Canada)").wday >1)
    =button_to 'Make picks for this week', games_picks_path(@league), :class => 'btn btn-primary btn-block', :method => :get
  - else
    =button_to 'View your picks for this week', show_picks_path(@league.id, @current_user.id), :class => 'btn btn-primary btn-block', :method => :get

  %div.row
    %div.span12
      %hr
      %h3 League Information
      %table
      - @infos.each do |info|
        %tr
          %td
            %strong= info[:title] + ": "
            = info[:data]
            %br
      %br
      - if current_user.id==@league.commissioner_id
        %td= link_to "Edit League Settings", edit_league_path
      %hr
      
  %div.row
    %div.span12
      %h3 League Standings
      %table.table.table-striped
        %thead
          %tr
            %th
              %h6 Rank
            %th
              %h6 Name
            %th
              %h6 Overall Points
            %th
              %h6 This weeks picks
        %tbody
          - @players.each do |player|
            %tr
              %td= player[:rank]
              %td= player[:name]
              %td= player[:points]
              %td= link_to "View", show_picks_path(@league.id, player[:id])
      %hr
  
  %div.row
    %div.span12
      %h3 Weekly Winners
      %table.table.table-striped
        %thead
          %tr
            %th
              %h6 Week Number
            %th
              %h6 Name
            %th
              %h6 Points
        %tbody
          - @weekly_winners.each do |winner|
            %tr
              %td= winner[:week_number]
              %td= winner[:name]
              %td= winner[:points]
      %hr
      
  = link_to 'Edit', edit_league_path(@league)
  |
  = link_to 'Back', leagues_path