<p id="notice"><%= notice %></p>

<p>
  <strong>League name:</strong>
  <%= @league.league_name %>
</p>

<p>
  <strong>Commissioner:</strong>
  <%= @league.commissioner %>
</p>

<p>
  <strong>Current leader:</strong>
  <%= @league.current_leader %>
</p>

<p>
  <strong>Conference settings:</strong>
  <%= @league.conference_settings %>
</p>

<p>
  <strong>Number picks settings:</strong>
  <%= @league.number_picks_settings %>
</p>

<p>
  <strong>Number members:</strong>
  <%= @league.number_members %>
</p>

<p>
  <strong>User1:</strong>
  <%= @league.user1 %>
</p>

<p>
  <strong>User2:</strong>
  <%= @league.user2 %>
</p>

<p>
  <strong>User3:</strong>
  <%= @league.user3 %>
</p>

<p>
  <strong>User4:</strong>
  <%= @league.user4 %>
</p>

<p>
  <strong>User5:</strong>
  <%= @league.user5 %>
</p>

<p>
  <strong>User6:</strong>
  <%= @league.user6 %>
</p>

<p>
  <strong>User7:</strong>
  <%= @league.user7 %>
</p>

<p>
  <strong>User8:</strong>
  <%= @league.user8 %>
</p>

<p>
  <strong>User9:</strong>
  <%= @league.user9 %>
</p>

<p>
  <strong>User10:</strong>
  <%= @league.user10 %>
</p>

<p>
  <strong>User11:</strong>
  <%= @league.user11 %>
</p>

<p>
  <strong>User12:</strong>
  <%= @league.user12 %>
</p>

<p>
  <strong>User13:</strong>
  <%= @league.user13 %>
</p>

<p>
  <strong>User14:</strong>
  <%= @league.user14 %>
</p>

<p>
  <strong>User15:</strong>
  <%= @league.user15 %>
</p>

<p>
  <strong>User16:</strong>
  <%= @league.user16 %>
</p>

<p>
  <strong>User17:</strong>
  <%= @league.user17 %>
</p>

<p>
  <strong>User18:</strong>
  <%= @league.user18 %>
</p>

<p>
  <strong>User19:</strong>
  <%= @league.user19 %>
</p>

<p>
  <strong>User20:</strong>
  <%= @league.user20 %>
</p>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
