%body
  %div.jumbotron
    %h2= @league.league_name 
  
  %br
  - if current_user.id==@league.commissioner_id && @tiebreaker == nil
    =button_to 'Set tiebreaker for this week', leagues_set_tiebreaker_path(@league), :class => 'btn btn-default btn-block', :method => :get, :style => 'font-weight:bold'
    
  - if @tiebreaker == nil || ((Time.now.in_time_zone("Central Time (US & Canada)").wday > 5) || Time.now.in_time_zone("Central Time (US & Canada)").wday < 3)
    =button_to 'Make picks for this week', games_picks_path(@league, @tiebreaker), :class => 'btn btn-default btn-block', :method => :get, :style => 'font-weight:bold', :disabled => 'true'
  - elsif (@league_pick == nil) && ((Time.now.in_time_zone("Central Time (US & Canada)").wday < 6) && Time.now.in_time_zone("Central Time (US & Canada)").wday > 2)
    =button_to 'Make picks for this week', games_picks_path(@league), :class => 'btn btn-default btn-block', :method => :get, :style => 'font-weight:bold'
  
  - if ((Time.now.in_time_zone("Central Time (US & Canada)").wday > 5) || Time.now.in_time_zone("Central Time (US & Canada)").wday < 3)
    =button_to 'View everyone\'s picks for last week', show_all_picks_path(@league.id), :class => 'btn btn-default btn-block', :method => :get, :style => 'font-weight:bold'
    
  - elsif @league_pick != nil
    =button_to 'View your picks for this week', show_picks_path(@league.id, @current_user.id), :class => 'btn btn-default btn-block', :method => :get, :style => 'font-weight:bold'
    =button_to 'View everyone\'s picks for this week', show_all_picks_path(@league.id), :class => 'btn btn-default btn-block', :method => :get, :style => 'font-weight:bold'

  - if (@show_announcements)
    %br
    %p As an admin, you can create announcements that your leagues' other players can view:
    =button_to 'Create Announcement', leagues_add_announcements_path(@league), :class => 'btn btn-default', :method => :get
    
  %div.row
    %div.span12
      %hr
      %h3.section_header League Information
      %table
      - @infos.each do |info|
        %tr
          %td
            %strong= info[:title] + ": "
            = info[:data]
            %br
      %br
      - if current_user.id==@league.commissioner_id
        %td= link_to "Edit League Settings", edit_league_path
      %hr
      
  %div.row
    %div.span12
      %h3.section_header League Standings
      %table.table.table-striped
        %thead
          %tr
            %th
              %h5 Rank
            %th
              %h5 Name
            %th
              %h5 Wins
            %th
              %h5 Losses              
            %th
              %h5 Pushes
            -if ((Time.now.in_time_zone("Central Time (US & Canada)").wday > 5) || Time.now.in_time_zone("Central Time (US & Canada)").wday < 3)
              %th
                %h5 Last Week's Picks
            -else 
              %th
                %h5 This Week's Picks
        %tbody
          - @updated_standings.each do |player|
            %tr
              %td= player[:rank]
              %td= player[:name]
              %td= player[:wins]
              %td= player[:losses]
              %td= player[:pushes]
              - if (@league_pick != nil) || ((Time.now.in_time_zone("Central Time (US & Canada)").wday < 6) && Time.now.in_time_zone("Central Time (US & Canada)").wday > 2)
                %td= link_to "View", show_picks_path(@league.id, player[:id])
              - elsif ((Time.now.in_time_zone("Central Time (US & Canada)").wday > 5) || Time.now.in_time_zone("Central Time (US & Canada)").wday < 3)
                %td= link_to "View", show_picks_path(@league.id, player[:id])
              - else
                %td Not available yet!
      %hr
  
  %div.row
    %div.span12
      %h3.section_header Weekly Winners
      %table.table.table-striped
        %thead
          %tr
            %th
              %h5 Week Number
            %th
              %h5 Name
            %th
              %h6 Wins
            %th
              %h6 Losses
            %th
              %h6 Pushes
        %tbody
          - @season_weekly_winners.each do |winner|
            %tr
              %td= winner[:week_number]
              %td= winner[:name]
              %td= winner[:wins]
              %td= winner[:losses]
              %td= winner[:pushes]
      %hr
  
  = link_to 'Edit', edit_league_path(@league)
  |
  = link_to 'Back', leagues_path