%h1 #{current_user.first_name}'s Picks

%table.container#games
  %thead
    %tr
      %th{:class => "col-2", :align => "center", :style => "text-decoration: underline; font-weight: normal;"} Away Odds
      %th{:class => "col-2", :align => "center", :style => "text-decoration: underline; font-weight: normal;"} Away Team
      %th{:class => "col-2", :align => "center", :style => "text-decoration: underline; font-weight: normal;"} Home Team
      %th{:class => "col-2", :align => "center", :style => "text-decoration: underline; font-weight: normal;"} Home Odds
     
  %tbody
    %tr
      %td
    %tr
      %td
    %tr
      %td
    %tr
      %td
    %tr
      %td
    %tr
      %td
    - @games.each do |game|
      %tr
        - if game[:home_winner]
          %td{:class => "col-2", :align => "center"}
            - if game[:game].away_odds < 0
              %div #{game[:game].away_odds}
            - else
              %div +#{game[:game].away_odds}
          %td{:class => "col-2", :align => "center"}= game[:game].away_team
          %td{:class => "col-2", :align => "center", :style => "font-weight: bold;"}= game[:game].home_team
          %td{:class => "col-2", :align => "center", :style => "font-weight: bold;"}
            - if game[:game].home_odds < 0
              %div #{game[:game].home_odds}
            - else
              %div +#{game[:game].home_odds}
        - else
          %td{:class => "col-2", :align => "center", :style => "font-weight: bold;"}
            - if game[:game].away_odds < 0
              %div #{game[:game].away_odds}
            - else
              %div +#{game[:game].away_odds}
          %td{:class => "col-2", :align => "center", :style => "font-weight: bold;"}= game[:game].away_team
          %td{:class => "col-2", :align => "center"}= game[:game].home_team
          %td{:class => "col-2", :align => "center"}
            - if game[:game].home_odds < 0
              %div #{game[:game].home_odds}
            - else
              %div +#{game[:game].home_odds}