!!!
%html
  %head
    %title Pick 'Em
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %div.container
      %nav.nav.navbar.nav-tabs.navbar-default{:role => "navigation"}
        .container-fluid
          %ul.nav
            %li
              - if !user_signed_in?
                = link_to "Home", authenticated_root_path, :id => 'home'
              - else
                = link_to "Home", unauthenticated_root_path, :id => 'home'
              - if !user_signed_in?
                %li
                  = link_to "Login", users_sign_in_path, :id => 'login'
              - else
                %li
                  = link_to "Account Settings", users_account_settings_path, :id => 'account_settings'
          %ul.nav.pull-right
            %li
              = link_to "Logout", destroy_user_session_path, :method => :delete, :id => 'logout'
        
      - if !notice.nil?
        %p.notice= notice
      
      - if !alert.nil?
        %p.alert= alert
        
      = yield