!!!
%html
  %head
    %title Pick 'Em
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %div.container
      %ul.nav.nav-tabs
        %li
          = link_to "Home", root_path, :id => 'home'
        - if !user_signed_in?
          %li
            = link_to "Login", users_sign_in_path, :id => 'login'
        
      - if !notice.nil?
        %p.notice= notice
      
      - if !alert.nil?
        %p.alert= alert
        
      = yield
